@import '../../../styles.scss';

header {
    height: 109px;
    padding: 0px 100px;
    background-color: $primary-color;
    @include flexParams(center,center);
    >div {
        @include flexParams(center,space-between); 
        width: 100%;  
        >span {
            color: white;
            font-weight: 700;   
            font-size: 40px;         
            >span:last-child {
                color: $light-blue;
            }
            &:hover {
                cursor: pointer;
            }
        }            
    }    
}

nav {
    @include flexParams(center,center);
    gap: 29px;
    >a {
        text-decoration: none;
        color: white;
        font-size: 23px;
        transition: all 125ms ease-in-out;
        &:hover {
            color: #00BEE8;
        }

    }
}