@import '../../../styles.scss';

header {
    height: 109px;
    background-color: $primary-color;
    @include flexParams(center,flex-start);    
    >div {
        @include flexParams(center,space-between); 
        width: 100%;
        padding: 0px 100px;
        >a:first-child {
            text-decoration: none;
            >span {
                color: white;
                font-weight: 700;   
                font-size: 40px;         
                >span:last-child {
                    color: $light-blue;
                    font-size: 40px;
                }            
            }  
            &:hover {
                cursor: pointer;
            }
        }
        >div {
            @include flexParams(center,center);
            gap: 29px;
            >span {
                >span {
                    color: $light-blue;
                }
                &:hover {
                    cursor: pointer;
                }
            }
            >img {
                display:none;
                &:hover {
                    cursor: pointer;
                    filter: brightness(0) saturate(100%) invert(74%) 
                    sepia(42%) saturate(5821%) hue-rotate(147deg) 
                    brightness(94%) contrast(101%);
                }
            } 
            >a>img {
                transform: rotate(-90deg);             
                &:hover {
                    cursor: pointer;
                    filter: brightness(0) saturate(100%) invert(74%) 
                    sepia(42%) saturate(5821%) hue-rotate(147deg) 
                    brightness(94%) contrast(101%);            
                }
            }  
        }       
    }    
}

nav {
    @include flexParams(center,center);
    gap: 29px;
    >a {
        text-decoration: none;
        color: white;
        font-size: 23px;
        transition: all 125ms ease-in-out;
        &:hover {
            color: #00BEE8;
        }
    }
}

@media only screen and (max-width:1000px) {
    header  {
        height: 80px;
    }
}

@media only screen and (max-width: 820px) {
    nav {
        display: none;        
    }
    header>div {
        padding: 0px 50px;
        >div>img {
            display: block;
        }          
    }
}

@media only screen and (max-width: 480px) {
    header>div  {
        padding: 0px 25px;        
    }    
}