<div class="main" [ngClass]="{'reverse': !picleft}">
    <div class="image-frame" *ngIf="picleft">
      <img [src]="image" alt="image">
    </div>
    <div class="description-frame">        
      <h2>{{ title }}</h2>
      <span>{{ skills }}</span>
      <p *ngIf="!checkGerman()">{{ descriptionEN }}</p>
      <p *ngIf="checkGerman()">{{ descriptionDE }}</p>         
      <div class="buttonbucket">
        <button>Live test</button>
        <button>Github</button>
      </div>
    </div>
    <div class="image-frame" *ngIf="!picleft">
      <img [src]="image" alt="image">
    </div>
</div>
