@import '../../../../styles.scss';

.main {
    @include flexParams(center,center);
    gap: 35px;    
    background-color: transparent;
    position:relative;
    left: 30px;
    &.reverse {
        left: -30px;
        .description-frame {
            @include flexParams(flex-end, center);
            p {
                text-align: end;
            }
        }
    }   
}

.image-frame {
    @include flexParams(center,center);
    width: 620px;
    height: 340px;
    max-width: 100%;
    >img {
        width: 400px;
    }
}

.description-frame {    
    @include flexParams(flex-start,center);
    flex-direction: column;
    width: 513px;
    height: 340px;
    gap: 15px;     
    >h2 {
        font-weight: 700;
        font-size: 32px; 
        color: $dark-blue;
    }    
    >span {
        font-size: 23px;
        color: $light-blue; 
    }       
}

.buttonbucket {
    @include flexParams(center,flex-start); 
    gap: 86px;
    margin-top: 20px;
    >button:first-child {
        border:none;
        color: white;   
        background-color: $dark-blue;
        border-radius: 10px;
        padding: 15px 30px;
        font-size: 23px;
        transition: all 75ms ease-in-out;
        &:hover {
            cursor: pointer;
            background-color: $light-blue;
        }
    }
    >button:last-child {
        border:solid 1px $light-blue;
        color: white;   
        background-color: $primary-color;
        border-radius: 10px;
        padding: 15px 30px;
        font-size: 23px;
        transition: all 75ms ease-in-out;
        &:hover {
            cursor: pointer;
            background-color: $light-blue;
        }    
    }   
}

@media only screen and (max-width: 1220px) {
    .main {
        flex-direction: column;
        left: 0;
        gap: 0;
        .description-frame {
            align-items: center;
            p {
                text-align: center;
            }
            span {
                text-align: center;    
            }
        }
        
        &.reverse {
            flex-direction: column-reverse;
            left: 0;
            gap: 0;
            .description-frame {
                align-items: center;
                p {
                    text-align: center;
                }
                span {
                    text-align: center;    
                }
            }
        }
    }    
}

@media only screen and (max-width: 620px) {
    .main {        
        .description-frame {
            width: 280px;    
        }        
        &.reverse {            
            .description-frame {
                align-items: center;
                p {
                    text-align: center;
                }
            }
        }
    }   
    .buttonbucket {
        gap: 20px;
        button {
            font-size: 16px !important;
        }
    }
    .image-frame {
        width: 300px;
        >img {
            height: 250px;
            width: auto;
        }
    }   
}

