<div class="main">
  <div class="left-frame">
    <h1>{{ 'g-about' | translate }}</h1>
    <div class="text-container">
      <p>
        {{ 'about-first' | translate }}
      </p>
      <div class="personal">
        <div>
          <img src="../../../assets/img/bulb.svg" alt="bulb" />
          <p>
            {{ 'about-bulb' | translate }}
          </p>
        </div>
        <div>
          <img src="../../../assets/img/puzzle.svg" alt="puzzle" />
          <p>
            {{ 'about-puzzle' | translate }}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="right-frame">
    <div>
      <img src="../../../assets/img/selfie.png" alt="">
    </div>
    <div class="blueline"></div>    
    <div class="overflow-wrapper">
      <img src="../../../assets/img/cfrag.png" alt="">   
    </div> 
  </div>
</div>
