<div class="main">
  <div class="left-frame">
    <h1>About me</h1>
    <div class="text-container">
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus
        pariatur labore odio assumenda illo eos hic delectus error consequuntur
        sed culpa, est sint repudiandae dolores in qui excepturi accusantium
        omnis!
      </p>
      <div class="personal">
        <div>
          <img src="../../../assets/img/bulb.svg" alt="bulb" />
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus
            pariatur labore odio assumenda illo eos hic delectus error
            consequuntur sed culpa, 
          </p>
        </div>
        <div>
          <img src="../../../assets/img/puzzle.svg" alt="puzzle" />
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus
            pariatur labore odio assumenda illo eos hic delectus error
            consequuntur sed culpa, 
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="right-frame">
    <div>
      <img src="../../../assets/img/selfie.png" alt="">
    </div>
    <div class="blueline"></div>    
    <div class="overflow-wrapper">
      <img src="../../../assets/img/cfrag.png" alt="">   
    </div> 
  </div>
</div>
