<footer>
    <div>
        <div>
            <span>Jör<span>g</span></span>
            <a href="legal">Impressum</a>
        </div>
        <span>&copy; Jörg Habermann 2024</span>
        <div>
            <a href="#"><img src="../../../assets/img/github-button.svg" alt="github"></a>        
            <a href="#"><img src="../../../assets/img/email-button.svg" alt="mail"></a> 
            <a href="#"><img src="../../../assets/img/linkedin-button.svg" alt="linkedin"></a>
        </div>
    </div>
</footer>
