<div class="main">
  <div>
    <div class="blue-line"></div>
    <h1>{{ "g-contact" | translate }}</h1>
  </div>
  <div class="image-wrapper">
    <img src="../../../assets/img/rightbutterfly.png" alt="" />
  </div>
  <div appScrollTrigger>
    <div class="text-frame slide-left animate">
      <h2>{{ "contact-h2" | translate }}</h2>
      <p>
        {{ "contact-p" | translate }}
      </p>
      <p>
        {{ "contact-need" | translate }}<br /><br />
        <b>{{ "contact-bold" | translate }}</b>
      </p>
    </div>
    <div class="contact-frame">
      <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm" appScrollTrigger>
        <input
          [(ngModel)]="contactData.name"
          type="text"
          class="contact-input"
          #name="ngModel"
          id="contact-name"
          name="contact-name"
          placeholder="{{ 'contact-name' | translate }}"          
          required
        />        
        <span *ngIf="name.invalid && name.touched">Please enter a name</span>        
        <input
          [(ngModel)]="contactData.email"
          type="email"
          class="contact-input"
          #mail="ngModel"
          id="contact-mail"
          name="contact-mail"
          placeholder="{{ 'contact-mail' | translate }}"
          pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
          required
        />
        <span *ngIf="mail.invalid && mail.touched">Please enter a valid Mail</span>
        <textarea
          [(ngModel)]="contactData.message"
          class="contact-input"
          #message="ngModel"
          id="contact-message"
          name="contact-message"
          placeholder="{{ 'contact-message' | translate }}"
          required
        >
        </textarea>
        <span *ngIf="message.invalid && message.touched">Please enter a Message</span>
        <div class="policy-container">
          <div class="checkbox-container">
            <input
              [(ngModel)]="contactData.acceptPolicy"
              type="checkbox"
              id="box"
              name="acceptPolicy"
              required
            />
            <span class="checkmark"></span>
          </div>
          <label for="box">
            {{ "contact-mark1" | translate }}
            <a href="legal">{{ "contact-policy" | translate }}</a>
            {{ "contact-mark2" | translate }}
          </label>
        </div>
        <div class="buttoncontainer">
          <button class="button-scale animate" [disabled]="contactForm.invalid" value="Submit" type="submit">{{ "contact-cta" | translate }}</button>
        </div>
      </form>
      <a href="#above"
        ><img src="../../../assets/img/arrowup.svg" alt="arrowup"
      /></a>
    </div>
  </div>
</div>
