<div class="main">
  <div>
    <div class="blue-line"></div>
    <h1>{{ 'g-contact' | translate }}</h1>
  </div>
  <div class="image-wrapper">
    <img src="../../../assets/img/rightbutterfly.png" alt="">
  </div>
  <div>
    <div class="text-frame">      
      <h2>{{ 'contact-h2' | translate }}</h2>
      <p>
        {{ 'contact-p' | translate }}
      </p>
      <p>{{ 'contact-need' | translate }}<br><br>
        <b>{{ 'contact-bold' | translate }}</b></p>      
    </div>    
    <div class="contact-frame">
      <form>
        <input type="text" class="contact-input" placeholder="{{ 'contact-name' | translate }}" />
        <input type="email" class="contact-input" placeholder="{{ 'contact-mail' | translate }}" />
        <textarea class="contact-input" placeholder="{{ 'contact-message' | translate }}">          
        </textarea>  
        <div class="policy-container">      
          <div class="checkbox-container">
            <input type="checkbox" id="box"/>
            <span class="checkmark"></span>
          </div>  
          <label for="box">        
              {{ 'contact-mark1' | translate }} <a href="legal">{{ 'contact-policy' | translate }}</a>
              {{ 'contact-mark2' | translate }}
          </label>
        </div>
        <div class="buttoncontainer">
          <button disabled="true">{{ 'contact-cta' | translate }}</button>
        </div>
      </form>      
      <a href="#above"><img src="../../../assets/img/arrowup.svg" alt="arrowup"></a>     
    </div>
  </div>  
</div>
