@import '../../../styles.scss';

.main {
    background-color: $primary-color;
    position: relative;
    @include flexParams(flex-start,flex-start);
    flex-direction: column;
    overflow-y:hidden;
    gap: 85px;
    padding: 110px 100px 150px 0px;
    >div:first-child {
        @include flexParams(center,center);
        position:relative;
        z-index: 1;
        align-self: flex-start;
        gap: 50px;
    }
    >div:last-child {
        @include flexParams(center,space-between);
        padding-left: 100px;  
        width: 100%;      
    }
}

h1 {
    color: white;
    font-size: 90px;  
    white-space: nowrap; 
    line-height: 1;    
}

.blue-line {
    height: 4px;
    width: 50px;
    border-radius: 4px;
    background-color: $dark-blue;
}

.text-frame {
    @include flexParams(flex-start,flex-start); 
    flex-direction: column; 
    position: relative;
    gap: 25px;
    max-width: 470px;
    height: 550px;    
    >h2 {
        font-size: 32px;
        color: white;  
        margin-bottom: 10px;  
    }    
}

.contact-frame {
    @include flexParams(flex-start,flex-start);
    position: relative;
    z-index: 3;
    flex-direction: column;
    width: 620px;
    height: 550px;
    >form {
        @include flexParams(flex-start,center);
        flex-direction: column;   
        width: 100%;               
        >div:last-child {
            margin-top: 32px;
            width: 100%;
            height: 110px;
        }        
    }    
    >a {
      align-self: flex-end;
      >img {
        &:hover {
          cursor: pointer;
          filter: brightness(0) saturate(100%) invert(74%) 
          sepia(42%) saturate(5821%) hue-rotate(147deg) 
          brightness(94%) contrast(101%);
        }
      }
    }
}

.policy-container {
  @include flexParams(center,center);
  >label {            
      color: white;
      font-size: 14px;  
      padding: 0px 6px;           
      >a {
          text-decoration: none;
          color: $dark-blue; 
                  
          &:hover {
              text-decoration: underline;
          }
      }
  }
}

.contact-input {
    width: 100%;
    background-color: transparent;
    border: solid 1px $dark-blue;
    border-radius: 10px;
    padding: 15px 25px;
    color: white;
    font-size: 16px;       
    &:hover {
        cursor: pointer;
        border-color: $light-blue;
    }
}

.alert-wrapper {
  @include flexParams(center,flex-start);
  width: 100%;
  height: 36px;
  >span {    
    color: #E61C40;
  }
}

.alert-color {
  border-color: #E61C40;
}

.checked-color {
  border-color: #70E61C;
}

input::placeholder, textarea::placeholder {
    color: white;
}

textarea {
    height: 200px;
    resize: none;
}

.checkbox-container {
  @include flexParams(center,center);
  cursor: pointer;
  font-size: 14px;  
  position: relative;
  left: -5px;
  z-index: 0;
  min-width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: transparent;

  &:hover {
    background-color: rgba(75, 71, 255,0.5);    
  }

  input {
    position: absolute;        
    cursor: pointer;
    height: 28px;
    min-width: 28px;
    appearance: none;
    z-index: 2;

    &:checked + .checkmark {      
      &:after {
        display: block;    
      }  
    }    
  }

  .checkmark {
    position: relative;    
    height: 18px;
    min-width: 18px;
    border: 2px solid $light-blue;
    background-color: transparent;
    transition: border-color 75ms ease-in-out;
    z-index: 1;

    &:after {
      content: "";
      position: absolute;
      display: none;
      left: 4px;
      top: 1px;
      width: 4px;
      height: 8px;
      border: solid $light-blue;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
      z-index: 1;
    }   
  }  
}

  .image-wrapper {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 500px; 
    overflow: hidden;  
    >img {
      position:relative;
      left: -350px;
      bottom: -420px; 
      transform: rotate(-100deg);
    }
  }

  #mailsend {
      position:fixed;
      z-index: 12;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: rgba(20, 29, 47, 0.8);
      transition: all 125ms ease-in-out;
      >div {
        @include flexParams(center,center);
        flex-direction: column;
        padding: 50px 20px 0px 20px;
        background-color: $primary-color;
        border-radius: 20px;
        box-shadow: 4px 4px 4px 4px rgba(75,71,255,0.5);
        position: fixed;
        min-width: 260px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 13;
        animation: slideup 325ms ease-in-out;
        >h3 {
          color: white;
          text-align: center;  
          max-width: 340px;    
        }
      }
  }  

  @keyframes slideup {
    from {opacity: 0;}
    to {opacity: 1;}
  }

  @media only screen and (max-width:1350px) {
    .text-frame {
      padding-right: 50px;
    }
  }

  @media only screen and (max-width:1100px) {
    .main {
      padding: 110px 0px;
      @include flexParams(center,center);
      >div:first-child>h1 {
        font-size: 72px;
      }
    }
    .main>div:last-child {
      @include flexParams(center,flex-start);
      flex-direction: column;
      gap: 45px;
      padding-left: 0px;
    }    
    .text-frame, .contact-frame {
      height: unset;
      width: 100%;
      max-width: 620px;      
    }
    .image-wrapper {
      width: 100%;
      >img {
       left: -450px;
       bottom: -440px;
       transform: rotate(-120deg);     
      }
    }
  }

  @media only screen and (max-width: 768px) {
    .main {
      >div:first-child {
        gap: 30px;
        >h1 {
          font-size: 56px;
        }
      }
      >div:last-child {
        padding: 0px 50px;
      }
    }
  }

  @media only screen and (max-width: 480px) {
    .contact-frame>form>div:last-child>button {
      font-size: 16px;
    }
    .image-wrapper>img {
      left: -550px;
      transform: rotate(-110deg);
    }
    .main {
      >div:first-child {
        gap: 5px;
        >h1 {
          font-size: 45px;
        }
      }
      
      >div:last-child {
        padding: 0px 25px;
      }
    }
    #mailsend {
      .buttoncontainer>button {
        font-size: 16px;
      }
      >h3 {
      max-width: 280px;
      }
    }
  }