<div class="main">    
    <div class="left-frame">
        <img class="twins"src="../../../assets/img/twinsbg.png" alt="twincolors">
        <img src="" alt="selfpic">
    </div>
    <div class="right-frame">
        <div class="headline-container">
            <span>I am</span>
            <div>
                <h1>Jörg Habermann</h1>
                <h2>Frontend Developer</h2>
            </div>
        </div>
        <div class="buttoncontainer">
            <button class="main-button">
                Let's talk!
            </button>
        </div>
    </div>
    <img class="banner" src="../../../assets/img/Vectorbanner.png" alt="banner">
    <div class="link-it">            
        <img src="" alt="line">
        <a href=""><img src="" alt="github"></a>
        <a href=""><img src="" alt="mail"></a>
        <a href=""><img src="" alt="linkedIn"></a>
        <span>joerg1985&#64;gmx.net</span>
    </div>
    <span>scroll down <img src="" alt="arrow"></span>    
</div>
