<div class="main">  
    <div class="center-section">  
        <div class="left-frame">            
            <img src="../../../assets/img/picme.png" alt="selfpic">
        </div>
        <div class="right-frame">
            <div class="headline-container">
                <span>{{ 'above-who' | translate }}</span>
                <div>
                    <h1>Jörg Habermann</h1>
                    <h2>Frontend Developer</h2>
                </div>
            </div>
            <div class="buttoncontainer">
                <button>
                    <a href="#contact">
                        {{ 'above-cta' | translate }}
                    </a>                    
                </button>
            </div>
        </div>
    </div>
    <div class="banner-wrapper">
        <img class="banner" src="../../../assets/img/Vectorbanner.png" alt="banner">
    </div>
    <div class="link-it">
        <div>            
            <div class="blue-line"></div>
            <a href=""><img src="../../../assets/img/github-button.svg" alt="github"></a>
            <a href=""><img src="../../../assets/img/email-button.svg" alt="mail"></a>
            <a href=""><img src="../../../assets/img/linkedin-button.svg" alt="linkedIn"></a>
            <span>joerg1985&#64;gmx.net</span>
        </div>                
        <span>{{ 'above-scroll' | translate }} <img src="../../../assets/img/arrow-down.svg" alt="arrow"></span>                    
    </div>
</div>
