<div class="main">
  <div class="overflow-wrapper">
    <img src="../../../assets/img/bluefunnel.png" alt="" />
  </div>
  <div class="left-frame" appScrollTrigger>   
    <div class="skill slide-left animate" *ngFor="let skill of skills;" > <img [src]="skill.pic" alt="pic" /><span>{{ skill.name }}</span></div>
  </div>
  <div class="right-frame" appScrollTrigger>
    <div>
      <h1>{{ 'g-skills' | translate }}</h1>
      <p>
        {{ 'skills-text' | translate }}
      </p>
      <div class="buttoncontainer" appScrollTrigger>
        <a href="#contact"><button class="button-scale animate">{{ 'skills-cta' | translate }}</button></a>
      </div>
    </div>
    <div class="blue-line"></div>
  </div>
</div>
