<div class="main">
    <header>
        <span>Jör<span>g</span></span>
        <img src="../../../../assets/img/close.svg" alt="xIcon" (click)="menuSlideOut()"> 
    </header>
    <div>
        <div>
            <a href="#about" (click)="menuSlideOut()">About me</a>
            <a href="#skills" (click)="menuSlideOut()">Skills</a>
            <a href="#portfolio" (click)="menuSlideOut()">Portfolio</a>
            <a href="#contact" (click)="menuSlideOut()">Contact</a>
        </div>
    </div>
</div>
