<div class="main">
    <header>
        <span>Jör<span>g</span></span>
        <img src="assets/img/close.svg" alt="xIcon" (click)="menuSlideOut()"> 
    </header>
    <div>
        <div>
            <a href="#about" (click)="menuSlideOut()">{{ 'g-about' | translate }}</a>
            <a href="#skills" (click)="menuSlideOut()">{{ 'g-skills' | translate }}</a>
            <a href="#portfolio" (click)="menuSlideOut()">Portfolio</a>
            <a href="#contact" (click)="menuSlideOut()">{{ 'g-contact' | translate }}</a>
        </div>
    </div>
</div>
