<div class="main">
  <div class="headcontainer">
    <div>
      <div class="short-line"></div>
      <h1>Portfolio</h1>
      <div class="long-line"></div>
    </div>
    <p>
      {{ 'portfolio-text' | translate }}
    </p>
  </div> 
  <div class="projectcontainer"> 
    <div class="first-image-wrapper">
      <img src="../../../assets/img/rightbutterfly.png" alt="">
    </div>
    <div class="second-image-wrapper">
      <img src="../../../assets/img/bluefunnel.png" alt="">
    </div>
    <app-project *ngFor="let project of projects"
      [title]="project.title"
      [skills]="project.skills"
      [descriptionDE]="project.descriptionDE"
      [descriptionEN]="project.descriptionEN"
      [image]="project.image"
      [picleft]="project.picleft"
    ></app-project>
  </div>
</div>
