@import '../../../styles.scss';

.main {
    @include flexParams(center,flex-start);
    flex-direction: column;
    background-color: $primary-color;
    padding: 20px 0px 150px 0px;
}

h1 {
    color: white;
    font-size: 90px;  
    white-space: nowrap; 
    line-height: 1;
}

.headcontainer {
    @include flexParams(flex-start,flex-start);
    flex-direction: column;   
    align-self: flex-end;
    margin-bottom: 34px;
    >div {
        @include flexParams(center, flex-start);
        gap: 40px;
        margin-bottom: 35px;
    } 
}

.short-line {
    width: 109px;
    height: 4px;
    background-color: $dark-blue;
    border-radius: 4px 0px 0px 4px;
}

.long-line {
    width: 484px;
    height: 4px;
    background-color: $dark-blue;    
}

.projectcontainer {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    gap: 150px;
    margin-top: 116px;
    width: 100%;
    padding: 0px 100px;
}

.first-image-wrapper {
    position: absolute;
    top: 150px;
    left: -100px;
}

.second-image-wrapper {
    position: absolute;
    bottom: -450px;
    right: 0px;
    overflow-x: hidden;
    width: 530px;
    >img {
        transform: rotate(90deg);
        position:relative;
        left: 30px;
    }
}

@media only screen and (max-width: 1220px) {
    .long-line {
        width: 384px;
    }
    .first-image-wrapper {        
        top: 650px;
        >img {
            height: 700px;
        }
    }
    h1 {
        font-size: 72px;
    }
}

@media only screen and (max-width: 1020px) {
    .long-line {
        width: 184px;
    }
}

@media only screen and (max-width: 760px) {
    .short-line {
        width: 30px;
    }
    h1 {
        font-size: 56px;
    }
    .headcontainer {
        max-width: 450px;
        >p {
            word-break: break-word;
        }
        >div {
            gap: 25px;
        }
    }

}

@media only screen and (max-width: 620px) {
    .projectcontainer {
        margin-top: 50px;
    }
}

@media only screen and (max-width: 520px) {
    .short-line {
        width: 15px;
    }
    .long-line {
        width: 45px;
    }
    .headcontainer {
        width: 275px;
        >div {
            gap: 10px;
        }
    }
    h1 {
        font-size: 45px;
    }
    
}