@import '../../styles.scss';

  app-burgermenu {
    position:fixed;
    z-index: 11;
    top: 0;
    left: 100vw;
    width: 100vw;
    transition: all 125ms ease-in-out;
  }  

.main {
    @include flexParams(center,center);  
    flex-direction: column;  
    background-color: $primary-color;   
    width: 100%; 
}

.maincontent {
    max-width: 1920px; 
    width: 100%;   
}

.burger-active {
  left: 0;
}