@import '../../styles.scss';

.main {
    @include flexParams(center,center);  
    flex-direction: column;  
    background-color: $primary-color;
    width: 100%;
}

.maincontent {
    max-width: 1920px;
    width: 100%;
}