<div id="main">
  <app-header
    [burgerstatusHead]="burgerstatus"
    (statusEvent)="toggleBurgerStatus()"
  ></app-header>
  <app-burgermenu
    [burgerstatusMenu]="burgerstatus"
    (statusEvent)="toggleBurgerStatus()"
    [ngClass]="{'burger-active': burgerstatus}"
  ></app-burgermenu>
  <div class="maincontent">
    <app-above-the-fold id="above"></app-above-the-fold>
    <app-about-me id="about"></app-about-me>
    <app-my-skills id="skills"></app-my-skills>
    <app-portfolio id="portfolio"></app-portfolio>
    <app-contact id="contact"></app-contact>
  </div>
  <app-footer></app-footer>  
</div>
<div id="landscape">
  <h1>{{ 'landscape-text' | translate }}</h1>
  <img src="assets/img/phone.png" alt="turnphone">
</div>
