@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/poppins-v21-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* poppins-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('./assets/fonts/poppins-v21-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  @mixin flexParams($align,$justify) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
  }

  @keyframes scaleIn {
    from {transform: scale(0.0)}
    to {transform: scale(1)}
  }

  @keyframes slidein-right {
    from {transform: translateX(-500px)}
    to {transform: translateX(0px)}
  }  

  $primary-color: #141D2F;
  $dark-blue: #4B47FF;
  $light-blue: #00BEE8;
  $disabled: #B6B6B6;

  * {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    
  }

  html {
    scroll-behavior: smooth;
  }

  /* div {
    background-color: yellow;
  } */

  app-header {
    position:fixed;
    z-index: 10;
    top: 0;
    left:0;
    right:0;    
  }

  app-footer {
    width: 100%;
  }

  p, span {
    color: white;
    font-size: 16px;
  }

  .buttoncontainer {
    @include flexParams(flex-start,center);
    height: 130px;
    margin-top: 44px;
    >button {
        font-size: 23px;
        padding: 15px 30px;
        border: none;
        background-color: $light-blue;
        border-radius: 10px;
        color: white;
        transition: all 75ms ease-in-out;
        >a {
          text-decoration: none;
          color: white;
          font-size: 23px;
          
        }
        &:not(:disabled):hover {
            padding: 20px 40px;
            cursor: pointer;
            background-color: $dark-blue;
        }
        &:not(:disabled):active {
            padding: 15px 30px;
            background-color: white;
            color: $dark-blue;
        }
        &:disabled {
          background-color: $disabled;
        }
    }
}

.no-scroll {
  overflow: hidden;
}

.animate-button {    
  animation: scaleIn 300ms ease-in-out;
}

.slidein-right {
  animation: slidein-right 250ms ease-in-out;
}

.animate {
  transition: all ease-in-out;
}

.slide-up {  
  transition: 450ms;
  transform: translateY(500px);
}

.slide-up.visible {
  transform: translateY(0px);
}

